*{
    background-color: cornflowerblue;
    color: white;  
}
nav{
    display: flex;
    flex-direction: row;
}
.etiqueta-logo{
    flex-grow: 5;
    font-size: 40px;
}
.primera-etiqueta{
    flex-grow: 1;
}
.segunda-etiqueta{
    flex-grow: 0.2;
}
.tercera-etiqueta{
    flex-grow: 0.2;
}
.cuarta-etiqueta{
    flex-grow: 0.2;
}
