*{
    border: 1px solid rgb(23, 233, 10);
    box-sizing: border-box; /* hara que las medidas que indicamos incluyen el border y el padding */ 
    margin: 0; 
    padding: 0;
    
}
h1{
    margin: 0;
    padding: 20px;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
}
span{
    border: 1px solid purple;
    background-color: red;
    width: 600px;
    display: block;
}