*{
    border: 1px solid black;

}
h1{
    font-size: 45px;
}
main{
    width: 700px;
}
.articulo1{
    width: 300px;
    height: 300px;
}
.articulo2 p{
  
    width: 25%;
} 
.big{
    border: 1px solid green;
    width: 200vw;
    height: 100vh;
    background-color: blue;
}