.titulo{
    color: blueviolet; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    text-indent: 100px;
    letter-spacing: 10px;
   }
   .parrafo{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: inherit;
    text-indent: 50px;
    word-spacing: 20px;
    line-height: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align:right;
    text-shadow: red 29px 20px 9px;
    /*text-shadow: color desplazamiento horizontal  desplazamiento vertical  opacidad de la letra*/
   }